<!DOCTYPE html>
<html lang="ru" itemscope itemtype="http://schema.org">
<head>


    <meta itemprop="name" content="Сонейка"/>
    <meta itemprop="image" content="/images/logo_512.png"/>
    <meta property="og:site_name" content="Сонейка"/>
    <meta property="og:image" content="/images/logo_512.png"/>

  <!-- <link href="http://gmpg.org/xfn/11" rel="profile"> -->
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title> {{ if eq .Title .Site.Title }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="Сонейка солнышко блог наука история творчество лингвистика азбука рукопись религия культура" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/poole.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="/css/soniejka.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="/icons/favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/icon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/icon-152.png">

  <!-- RSS -->
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
