{{ partial "head.html" . }}
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }}>

{{ partial "sidebar.html" . }}

    <div class="content container">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

<div class="posts">

      {{ range where .Data.Pages "Section" "post" }}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h1>
    <span class="post-date">{{ .Date.Format "2.01.2006" }}</span>

    {{ .Content }}

    <a href="{{ .Permalink }}#disqus_thread">Комментировать</a>
  </div>
  {{ end }}
</div>
</div>


{{ partial "disqus_counter.html" . }}

  </body>
</html>
