{{ partial "head.html" . }}
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }}>

{{ partial "sidebar.html" . }}

<div class="content container">

<div class="posts">

      {{ range first 10 (where .Data.Pages "Section" "post") }}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ .RelPermalink }}">
          {{ .Title }}
      </a>
    </h1>
    <span class="post-date moment">{{ .Date.Format .Site.Params.dateFormat}}</span>


    {{ .Content }}

    <i class="fa fa-comment"></i>  <a href="{{ .RelPermalink }}#disqus_thread">Комментировать</a>
  </div>
  {{ end }}
</div>

<footer class="posts-all-link"><a href="/post/">Все посты →</a></footer>

</div>


{{ partial "disqus_counter.html" . }}

{{ partial "moment.html" . }}

  </body>
</html>
