{{ partial "head.html" . }}
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }}>

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="post">
  <h1>{{ .Title }}</h1>
      {{ .Content }}


      {{$descr := .Params.category}}
      {{ range .Site.Pages }}
      {{ if in .Params.categories $descr }}

      <li>
        <span><a href="{{ .Permalink }}">{{ .Title }}</a> &#8211; {{ .Description }}</span>
      </li>

      {{ end }}
      {{ end }}

</div>
</div>


{{ partial "disqus.html" . }}


  </body>
</html>
